.Navbar {
    width: 100%;
    padding: 0.5rem 0;
    background-image: -webkit-linear-gradient(150deg, #fdcd3b 35%, #ffed4b 30%);
  }
  
  .Navbar__brand {
    color: #ffffff;
    display: flex;
    align-items: center;
  }
  
  .Navbar__brand:hover {
    color: #ffffff;
    text-decoration: none;
  }
  
  .Navbar__brand-logo {
    padding: 10px;
    width: 80px;
  }